chromadb==0.5.3
google-api-core==2.10.1
google-api-python-client==2.136.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.56.4
huggingface_hub==0.23.1
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.2
numpy==1.26.4
openai==0.28.0
openpyxl==3.1.2
pandas==2.2.2
pydantic==2.5.3
pydantic-core==2.14.6
pypdf==4.2.0
torch==2.3.0
scikit-learn==1.4.2
scipy==1.13.1
tiktoken==0.7.0
tokenizers==0.15.1
tqdm==4.66.4
trafilatura==1.11.0
transformers==4.37.2
unicodedata2==15.1.0
urllib3==2.2.2